<ion-view view-title="" >
	<ion-nav-buttons side="left">
		<a class="button button-clear" ng-click="goback()">
			返回
		</a>
	</ion-nav-buttons>
	<ion-content>
		<div class="list card">

			<div class="item item-avatar">
				<img src="templates/images/lutianfei.jpg">
				<h2> 陆天飞</h2>
				<p>QQ：1172486783</p>
			</div>

			<div class="item item-body">
				<p>
					内蒙古大学16级计科网工班，IMUDGES前端组组长，负责样式设计，界面UI
				</p>
			</div>

		</div>
		<div class="list card">

			<div class="item item-avatar">
				<img src="templates/images/zhonghui.jpg">
				<h2> 钟辉</h2>
				<p>QQ：601382806</p>
			</div>

			<div class="item item-body">
				<p>
					内蒙古大学16级计科网工班，IMUDGES前端组成员，项目发起人，负责页面逻辑，前后端数据连接
				</p>
			</div>

		</div>
		<div class="list card">

			<div class="item item-avatar">
				<img src="templates/images/chenfeng.jpg">
				<h2> 陈丰</h2>
				<p>QQ：765324662</p>
			</div>

			<div class="item item-body">
				<p>
					内蒙古大学16级计科网工班，IMUDGES后端组组长，负责后台开发及维护

				</p>
			</div>

		</div>

		<ion-item>
			<p style="font-size: 18px;" >版本信息 0.0.1 Beta</p>
		</ion-item>
	</ion-content>
</ion-view>