<ion-view view-title="" xmlns:http="http://www.w3.org/1999/xhtml">
	<ion-nav-buttons side="left">
		<a class="button button-clear" ng-click="goback()">
      	返回
  </a>
	</ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <form novalidate name="enrollform" >
            <label class="item item-input item-floating-label">
                <span class="input-label">用户名</span>
                <input type="text"required  ng-minlength="1" ng-maxlength="10" name="username" ng-model="data.enrollusername" placeholder="用户名"/>
            </label>
            <label class="item item-input item-floating-label">

                <span class="input-label">密码</span>
                <input type="text" required name="userpassword" ng-minlength="6" ng-maxlength="20" ng-model="data.enrollpassword" placeholder="密码"/>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    性别
                </div>
                <select ng-model="data.sexSelect">
                    <option selected value="0">不便透露</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </label>

            </form>
            <span style="color:#4b8bf4" ng-if="samename==1"> 用户名重复。  </span>
            <span style="color:#4b8bf4" ng-show="enrollform.username.$dirty && enrollform.username.$invalid">
  <span ng-show="enrollform.username.$error.required">用户名是必须的。</span>
  </span>
            <span style="color:#4b8bf4" ng-show="enrollform.username.$dirty && enrollform.username.$invalid">
  <span ng-show="enrollform.username.$error.maxlength">用户名长度不大于10。</span>
  </span>

            <span style="color:#4b8bf4" ng-show="enrollform.userpassword.$dirty && enrollform.userpassword.$invalid">
  <span ng-show="enrollform.userpassword.$error.required">密码是必须的。</span>
  </span>
            <span style="color:#4b8bf4" ng-show="enrollform.userpassword.$dirty && enrollform.userpassword.$invalid">
  <span ng-show="enrollform.userpassword.$error.maxlength">密码长度不大于20。</span>
  </span>
            <span style="color:#4b8bf4" ng-show="enrollform.userpassword.$dirty && enrollform.userpassword.$invalid">
  <span ng-show="enrollform.userpassword.$error.minlength">密码长度大于等于6。</span>
  </span>
        </div>
         <button  class="button button-block button-positive" id="enrollup" ng-click="enrollfun()" ng-if="enrollform.username.$valid&&enrollform.userpassword.$valid">
  		注册
	</button>
        <button  class="button button-block button-stable"ng-disabled ng-if="!(enrollform.username.$valid&&enrollform.userpassword.$valid)">
            注册
        </button>
    </ion-content>
</ion-view>