<ion-view view-title="" xmlns:http="http://www.w3.org/1999/xhtml">
	<ion-nav-buttons side="left">
		<a class="button button-clear" ng-click="goBack()">
      返回
   </a>
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="list card">

			<div class="item item-avatar">
				<img ng-src={{"http://imucommunity-1252858792.image.myqcloud.com/avatar/"+item.avatar+"/s"}} >
				<h2>某同学 ·</h2>
				<p>{{item.time}}</p>
			</div>

			<div class="item item-body">
				<p>
					{{item.content}}
				</p>
				<p>
					<a href="#" class="subdued">{{item.like_num}} Like</a>
				</p>
			</div>

		</div>
		<ion-list class=" card">
			<ion-item ng-repeat="comment in item.comments track by $index">
				<div class="list">
					<a class="item item-avatar" href="#">
						<img src="venkman.jpg">
						<h2>爱同学</h2>
						<p>{{comment}}</p>
					</a>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>