<ion-view view-title="">
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-if="!login" href="#/login">
      登录
    </a>
    <a class="button button-clear" ng-if="login" href="#/person">
      我
    </a>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item style="margin: 0;" class="item item-body" ng-repeat="item in notifyList" >
        <img style="width: 50px; height: 50px; border-radius: 100%;" ng-src="templates/images/admin.jpg" />
        <span style="position: relative; left: 20px; top: -20px;" >活宝三人组（开发团队）</span>
        <p style="float: right">{{item.time}}</p>
        <p style="font-size: 16px; text-align: justify;" >{{item.content}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>