<ion-view view-title="" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml">
	<ion-nav-buttons side="left">
		<a class="button button-clear" onclick="history.go(-1)">
      返回
   </a>
	</ion-nav-buttons>
	<ion-content  class="padding">
		<div  class="list">
			<div class="item item-avatar">
				<img ng-if="item.gender==0" style="height: 60px;width: 60px; border-radius: 100%;" src="templates/images/weizhipic.jpg" />
				<img ng-if="item.gender==1" style="height: 60px;width: 60px; border-radius: 100%;" src="templates/images/malepic.jpg" />
				<img ng-if="item.gender==2" style="height: 60px;width: 60px; border-radius: 100%;" src="templates/images/femalepic.jpg" />
				<h2 style="font-size: 20px; color: #444;" >某同学 ·
					<span ng-if="item.gender==0">未知</span>
				<span  ng-if="item.gender==1">男</span>
				<span  ng-if="item.gender==2">女</span>
				</h2>
				<span>{{item.time}}</span>
				<a style="float: right;" ng-click="deletetucao()" ng-if="item.self">删除</a>
			</div>

			<div class="item item-body">
				<p style="font-size: 16px;  text-align: justify; margin: 0 ; padding: 10px 0; " >
					{{item.content}}
				</p>
				<p style="margin-top: 0; float: right;" >
					<a  class="subdued">
                        <i style="font-size:22px; color:red;  margin: 0 10px;" class = "ion-android-favorite-outline" ng-if="item.liked&&login"></i>
                        <a style=" margin: 0 10px; color: #9e9e9e;  font-size:22px;"   class = "ion-android-favorite-outline" ng-if="!login" href="#/loginfabiao"></a>
                        <i style=" margin: 0 10px;  font-size:22px;" ng-click="xihuana()" class = "ion-android-favorite-outline" ng-if="!(item.liked)&&login"></i>
                        {{item.like_num}} 
					</a>
				</p>
			</div>
			
		</div>
		<ion-list  class="item-body">
			<ion-item style="border: 0px; " ng-repeat="comment in item.comments track by $index">
				<div class="list" style="border-bottom: 1px solid #ddd;" >
					<img style="width: 40px; height: 40px; border-radius: 100%;" src="templates/images/wumi.jpg" />
					<span style="font-size:16px; position: relative; left: 20px; top: -20px;" >某同学 ·</span>
					<span style="font-size:14px; position: relative; left: 20px; top: -20px;"ng-if="comment.gender==0">未知</span>
					<span style="font-size:14px; position: relative; left: 20px; top: -20px;" ng-if="comment.gender==1">男</span>
					<span style="font-size:14px; position: relative; left: 20px; top: -20px;" ng-if="comment.gender==2">女</span>
					<p style="font-size: 14px; margin-bottom: 10px; text-align: justify; " >{{comment.comments}}</p>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="bar bar-footer bar-positive">

		<input style="width: 100%;"   ng-keyup="enterEvent($event)" ng-model="data.publishtucaocomment" placeholder="你想对他/她/它的话说些什么" />
		<button class="button"  ng-if="login" id="publishtucaocommentbutton" ng-click="comment()">发表评论啊a</button>
		<button class="button" ng-if="!login" onclick="window.location.href='#/loginfabiao'" >请先登录啊a</button>

	</div>
</ion-view>